<section class="main__search">
    <form class="main__form">
        <label for="search">Buscar personaje
        <input type="text" id="search" name="search" placeholder="Ej: Olu Mel">
        </label>
        <input type="submit" value="Buscar">
    </form>
</section>

<div class="character__container">
    <section class="character">
        <h2 class="character__title">Personajes (L)</h2>
        <ul class="character__list">
            <li class="character__item"></li>
            <li class="character__item"></li>
            <li class="character__item"></li>
            <li class="character__item"></li>
        </ul>
    </section>
    <section class="character__favourites hidden">
        <h2 class="character__favourites-title">Favoritos (L)</h2>
        <ul class="character__favourites-list"></ul>
    </section>
</div>