<section class="main__search">
    <form class="main__form">
        <label for="search">Buscar personaje
        <input type="text" id="search" name="search" placeholder="Ej: Olu Mel">
        </label>
        <input type="submit" value="Buscar">
    </form>
</section>

<div class="characters">
    <section class="characters_listing">
        <h2 class="characters__title">Personajes (L)</h2>
        <ul class="characters__list">
            <li class="characters__item">
                <img src="https://placehold.co/190x230" alt="Foto de Olu Mel"></img>
                <p>Olu Mel</p>
            </li>
            <li class="characters__item">
                <img src="https://placehold.co/190x230" alt="Foto de Olu Mel"></img>
                <p>Olu Mel</p>
            </li>
            <li class="characters__item">
                <img src="https://placehold.co/190x230" alt="Foto de Olu Mel"></img>
                <p>Olu Mel</p>
            </li>
            <li class="characters__item">
                <img src="https://placehold.co/190x230" alt="Foto de Olu Mel"></img>
                <p>Olu Mel</p>
            </li>
        </ul>
    </section>
    <section class="characters__favourites hidden">
        <h2 class="characters__favourites-title">Favoritos (L)</h2>
        <ul class="characters__favourites-list"></ul>
    </section>
</div>